/* line 116 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

/* line 2 : /Users/andrew/Documents/dev/web/shifty/master/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz {
  width: 100%;
  background: #222;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 0;
  left: 0;
  text-align: left;
  display: block;
  z-index: 2147483647;
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  font-family: "Droid sans";
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz:hover #controls-shifty,
#shifty-spritz:active #controls-shifty {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 25 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz.hide {
  display: none;
}

/* line 28 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz i {
  line-height: 40px;
  cursor: pointer;
  color: #bbb;
  font-size: 14px;
  padding: 0 6px;
}

/* line 35 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz i.left {
  float: left;
}

/* line 38 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz i.right {
  float: right;
}

/* line 41 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #controls-shifty {
  display: block;
  visibility: hidden;
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 100%;
  background: inherit;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  margin: 0 0 0 0;
  -webkit-transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}

/* line 56 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #controls-shifty #pause-play-shifty {
  padding-left: 12px;
}

/* line 59 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #controls-shifty #close-shifty {
  padding-right: 12px;
}

/* line 62 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #controls-shifty #pause-play-shifty {
  margin: 0;
}

/* line 65 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #controls-shifty #progress-bar-shifty {
  background: #333;
  margin: 14px 6px 0 0;
  border-radius: 6px;
  height: 12px;
  position: relative;
  width: -webkit-calc(100% - 70px);
  width: calc(100% - 70px);
  cursor: pointer;
  float: right;
}

/* line 75 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #controls-shifty #progress-bar-shifty #seek-shifty,
#shifty-spritz #controls-shifty #progress-bar-shifty #progress-shifty:after {
  display: block;
  border-radius: 3px;
  opacity: 0;
  background: #333;
  height: 6px;
  width: 6px;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  margin: 0 0 0 -3px;
  position: absolute;
  top: 3px;
}

/* line 87 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #controls-shifty #progress-bar-shifty:hover #seek-shifty {
  opacity: 0.5;
}

/* line 90 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #controls-shifty #progress-bar-shifty #progress-shifty {
  height: 100%;
  min-width: 12px;
  position: relative;
  background: #bbb;
  width: 0;
  border-radius: 6px;
}

/* line 98 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #controls-shifty #progress-bar-shifty #progress-shifty:after {
  content: "";
  opacity: 1;
  right: 3px;
  margin: 0;
}

/* line 104 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #words-shifty {
  background: #fff;
  border-bottom: none;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  width: 100%;
  position: relative;
}

/* line 114 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #words-shifty #countdown-shifty {
  height: 100%;
  position: absolute;
  background: #222;
  left: 0;
  top: 0;
}

/* line 121 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #words-shifty #left-shifty,
#shifty-spritz #words-shifty #right-shifty,
#shifty-spritz #words-shifty #center-shifty {
  height: 100%;
  color: #333;
  min-height: 1px;
  z-index: 1;
  float: left;
  display: inline;
}

/* line 129 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #words-shifty #center-shifty {
  color: #fa3d3d;
  display: block;
  position: relative;
}

/* line 134 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #words-shifty #center-shifty:before,
#shifty-spritz #words-shifty #center-shifty:after {
  content: "";
  display: block;
  border: 5px solid transparent;
  position: absolute;
  left: 50%;
}

/* line 141 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #words-shifty #center-shifty:after {
  border-top-color: #222;
  top: 0;
  margin: 0 0 0 -5px;
}

/* line 146 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #words-shifty #center-shifty:before {
  border-bottom-color: #222;
  top: 100%;
  margin: -10px 0 0 -5px;
}

/* line 151 : /Users/andrew/Documents/dev/web/shifty/master/source/css/style.styl */

#shifty-spritz #words-shifty #left-shifty {
  width: 30%;
  text-align: right;
}
