@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url('chrome-extension://__MSG_@@extension_id__/fonts/DroidSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('chrome-extension://__MSG_@@extension_id__/fonts/DroidSans-Bold.ttf') format('truetype');
}
