body, html
  padding 10px
  min-width 400px
  margin 0
  font-family "Droid Sans"
  font-size 14px

h4:first-child
  margin-top 0

*
  box-sizing border-box
  color #333

a
  color #428bca
  text-decoration none

.text-center
  text-align center

.key
  margin 5px 0

hr
  border none
  border-bottom dotted 2px #172323
  padding 0
  margin 20px 0

h1, h2, h3, h4, h5, h6
  margin 15px 0 10px 0
  font-family inherit
  font-weight bold
  line-height 1.1
  color inherit

  small
    font-weight normal
    line-height 1

h1
  font-size 36px

h2
  font-size 30px

h3
  font-size 24px

h4
  font-size 18px

h5
  font-size 14px

h6
  font-size 12px

p
  margin 0 0 10px
  line-height 1.4

.form-group
  line-height 2

  input, select, label
    width 50%
    display inline-block

.btn
  display inline-block
  padding 6px 12px
  font-size 14px
  font-weight bold
  line-height 1.42857143
  text-align center
  white-space nowrap
  vertical-align middle
  user-select none
  background-image none
  border-bottom rgba(20, 20, 20, 0.15) 5px solid

  &.default
    color #333
    background-color #bbb

  &.primary
    color #fff
    background-color #4B7890

  &.danger
    color #333
    background-color #fbca54

  &.warning
    color #333
    background-color #fc575e

  &.success
    color #333
    background-color #9CCA68

  &.info
    color #333
    background-color #80ceff

  &.dark
    color #fff
    background-color #3e5c6d

#article
  p
    font-size 1.2em
    line-height 1.5
