#shifty-spritz
  width 100%
  background #222
  border-top 10px solid transparent
  border-bottom 10px solid transparent
  box-sizing border-box
  top 0
  left 0
  text-align left
  display block
  color #bbb
  z-index 2147483647
  position fixed
  user-select none
  outline none
  font-family "Droid sans"

  &:hover #controls, &:active #controls
    visibility visible
    opacity 1
    transform scale(1, 1)

  &.hide
    display none

  i
    line-height 40px
    cursor pointer
    font-size 14px
    padding 0 6px

    &.left
      float left

    &.right
      float right

  #controls
    display block
    visibility hidden
    width 100%
    opacity 1
    position absolute
    top 100%
    background inherit
    box-sizing border-box
    height 40px
    margin 0 0 0 0
    transition all 0.25s cubic-bezier(0.680, -0.550, 0.265, 1.550)
    transform scale(1, 0)
    transform-origin top center
    
    #pause-play
      padding-left 12px

    #close
      padding-right 12px

    #pause-play
      margin 0

    #progress-bar
      background #333
      margin 14px 6px 0 0
      border-radius 6px
      height 12px
      position relative
      width calc(100% - 96px)
      cursor pointer
      float right

      #seek, #progress:after
        display block
        border-radius 3px
        opacity 0
        background #333
        height 6px
        width 6px
        transition opacity 0.1s linear
        margin 0 0 0 -3px
        position absolute
        top 3px

      &:hover #seek
        opacity 0.5

      #progress
        height 100%
        min-width 12px
        position relative
        background #bbb
        width 0
        border-radius 6px

        &:after
          content ""
          opacity 1
          right 3px
          margin 0

  #words
    background #fff
    border-bottom none
    height 50px
    cursor move
    font-weight 500
    font-size 25px
    line-height 50px
    width 100%
    color #333
    position relative

    &:before, &:after
      content ""
      display block
      border 5px solid transparent
      position absolute
      left calc(30% + 3px)

    &:after
      border-top-color #222
      top 0

    &:before
      border-bottom-color #222
      top 100%
      margin -10px 0 0 0px
    
    #left, #right, #center
      height 100%
      min-height 1px
      float left
      display inline-block

    #center
      color #fa3d3d

    #left
      width 30%
      text-align right