#shifty-spritz
  width 100%
  background #222
  border-top 10px solid transparent
  border-bottom 10px solid transparent
  top 0
  left 0
  text-align left
  display block
  z-index 2147483647
  position fixed
  user-select none
  outline none
  font-family "Droid sans"
  box-sizing border-box

  *
    box-sizing border-box

  &:hover #controls-shifty, &:active #controls-shifty
    visibility visible
    opacity 1
    transform scale(1, 1)

  &.hide
    display none

  i
    line-height 40px
    cursor pointer
    color #bbb
    font-size 14px
    padding 0 6px

    &.left
      float left

    &.right
      float right

  #controls-shifty
    display block
    visibility hidden
    width 100%
    opacity 1
    position absolute
    top 100%
    background inherit
    box-sizing border-box
    height 40px
    margin 0 0 0 0
    transition all 0.25s cubic-bezier(0.680, -0.550, 0.265, 1.550)
    transform scale(1, 0)
    transform-origin top center

    #pause-play-shifty
      padding-left 12px

    #close-shifty
      padding-right 12px

    #pause-play-shifty
      margin 0

    #progress-bar-shifty
      background #333
      margin 14px 6px 0 0
      border-radius 6px
      height 12px
      position relative
      width calc(100% - 70px)
      cursor pointer
      float right

      #seek-shifty, #progress-shifty:after
        display block
        border-radius 3px
        opacity 0
        background #333
        height 6px
        width 6px
        transition opacity 0.1s linear
        margin 0 0 0 -3px
        position absolute
        top 3px

      &:hover #seek-shifty
        opacity 0.5

      #progress-shifty
        height 100%
        min-width 12px
        position relative
        background #bbb
        width 0
        border-radius 6px

        &:after
          content ""
          opacity 1
          right 3px
          margin 0

  #words-shifty
    background #fff
    border-bottom none
    height 50px
    font-size 25px
    font-weight bold
    line-height 50px
    width 100%
    position relative

    #countdown-shifty
      height 100%
      position absolute
      background #222
      left 0
      top 0

    #left-shifty, #right-shifty, #center-shifty
      height 100%
      color #333
      min-height 1px
      z-index 1
      float left
      display inline

    #center-shifty
      color #fa3d3d
      display block
      position relative

      &:before, &:after
        content ""
        display block
        border 5px solid transparent
        position absolute
        left 50%

      &:after
        border-top-color #222
        top 0
        margin 0 0 0 -5px

      &:before
        border-bottom-color #222
        top 100%
        margin -10px 0 0 -5px

    #left-shifty
      width 30%
      text-align right
