#spritzify
  width 100%
  background rgba(0, 0, 0, 1)
  border 10px solid transparent
  border-bottom none
  box-sizing border-box
  top 0
  left 0
  display block
  color #fff
  z-index 2147483647
  position fixed
  user-select none
  font-family "Droid sans"
  transition opacity 0.1s linear
  opacity 1

  &.hide
    display none
    opacity 0.5

  i
    line-height 30px
    cursor pointer
    font-size 14px
    margin 0 0 0 8px

    &.left
      float left

    &.right
      float right

  #top
    i
      margin 0 0 0 8px

  #controls
    display block
    width 100%
    height 30px

    #pause-play
      margin 0

    #progress-bar
      background rgba(255, 255, 255, 0.2)
      margin 10px 0 0 0
      border-radius 5px
      height 10px
      width calc(100% - 60px)
      cursor pointer
      float right
 
      #progress
        height 100%
        transition width 0.15s linear
        background rgba(255, 255, 255, 0.2)
        width 0
        border-radius inherit

  #words
    background #fff
    border-radius 3px
    border-bottom none
    height 50px
    cursor move
    font-size 3em
    line-height 50px
    width 100%
    color #333
    
    #left, #right, #center
      height 100%
      min-height 1px
      float left
      display inline-block

    #center
      color #fa3d3d

      &:before
        content ""
        display none
        border 5px solid transparent
        border-bottom-color #ddd
        position absolute
        left 40%
        top 100%
        margin -10px 0 0 0px

    #left
      width 30%
      text-align right