/* line 123 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

/* line 2 : /Users/andrew/Documents/dev/web/shifty/master/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

header img {
  margin: auto;
  float: left;
}

/* line 6 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

body,
html {
  padding: 10px;
  min-width: 400px;
  margin: 0;
  font-family: "Droid Sans";
  font-size: 14px;
}

/* line 13 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

h4:first-child {
  margin-top: 0;
}

/* line 16 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
}

/* line 20 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

a {
  color: #428bca;
  text-decoration: none;
}

/* line 24 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

.text-center {
  text-align: center;
}

/* line 27 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

.key {
  margin: 5px 0;
}

/* line 30 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

hr {
  border: none;
  border-bottom: dotted 2px #172323;
  padding: 0;
  margin: 20px 0;
}

/* line 36 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
}

/* line 43 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
}

/* line 47 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

h1 {
  font-size: 36px;
}

/* line 50 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

h2 {
  font-size: 30px;
}

/* line 53 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

h3 {
  font-size: 24px;
}

/* line 56 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

h4 {
  font-size: 18px;
}

/* line 59 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

h5 {
  font-size: 14px;
}

/* line 62 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

h6 {
  font-size: 12px;
}

/* line 65 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

p {
  margin: 0 0 10px;
  line-height: 1.4;
}

/* line 69 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

.form-group {
  line-height: 2;
}

/* line 72 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

.form-group input,
.form-group select,
.form-group label {
  width: 50%;
  margin: 0;
  padding: 9;
  display: inline-block;
}

/* line 78 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-bottom: rgba(20,20,20,0.15) 5px solid;
}

/* line 91 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

.btn.default {
  color: #333;
  background-color: #bbb;
}

/* line 95 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

.btn.primary {
  color: #fff;
  background-color: #4b7890;
}

/* line 99 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

.btn.danger {
  color: #333;
  background-color: #fbca54;
}

/* line 103 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

.btn.warning {
  color: #333;
  background-color: #fc575e;
}

/* line 107 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

.btn.success {
  color: #333;
  background-color: #9cca68;
}

/* line 111 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

.btn.info {
  color: #333;
  background-color: #80ceff;
}

/* line 115 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

.btn.dark {
  color: #fff;
  background-color: #3e5c6d;
}

/* line 119 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

/* line 120 : /Users/andrew/Documents/dev/web/shifty/master/source/css/layout.styl */

#article p {
  font-size: 1.2em;
  line-height: 1.5;
}