#words-shifty
  #countdown-shifty
  #left-shifty h
  #center-shifty e
  #right-shifty llo
  span#clear-shifty
#controls-shifty
  i#pause-play-shifty.fa.fa-pause.left-shifty
  i#close-shifty.fa.fa-times.right-shifty
  #progress-bar-shifty
    #progress-shifty
    #seek-shifty
