doctype html
html(lang="en")
  head
    script(type="text/javascript", src="application.js")
    link(href="application.css", rel="stylesheet")
  body
    iframe(src="http://smashingmagazine.com", style="border: 0; width: 100%; height: 100%") Your browser doesn't support iFrames
    #spritzify
      #words
        #left h
        #center e
        #right llo
      #controls
        i#pause-play.fa.fa-pause.left
        i#close.fa.fa-times.right
        i#settings.fa.fa-cog.right
        #progress-bar
          #progress