doctype html
html(lang="en")
  head
    script(type="text/javascript", src="http://localhost:35729/livereload.js")
    script(type="text/javascript", src="js/jquery.min.js")
    script(type="text/javascript", src="js/spritzify.min.js")
    link(href="stylesheets/style.css", rel="stylesheet")
  body
    #spritzify
      #words
        #left h
        #center e
        #right lofjdshfjsfdshfdsjfhdskjhjdhkhdshjkkkkkkkkkjjjjllllfjdkfhdjksfsppp
        #progress-bar
          #progress