#words-shifty
  #left-shifty h
  #center-shifty e
  #right-shifty llo
#controls-shifty
  i#pause-play-shifty.fa.fa-pause.left
  i#close-shifty.fa.fa-times.right
  #progress-bar-shifty
    #progress-shifty
    #seek-shifty
