doctype html
html
  head
    title Settings and Info
    script(src="js/jquery.js")
    script(src="js/settings.js")
    link(rel="stylesheet", href="css/droid-sans.css")
    link(href='css/droid-sans.css', rel='stylesheet', type='text/css')
    link(href="css/font-awesome.css", rel="stylesheet")
    link(rel="stylesheet", href="css/layout.css")
  body
    h4 Time is money!
    //- p Hi I am Andrew the developer of Shifty Spritz thanks for downloading and using Shifty Spritz. If you enjoy using this please consider donating to support future projects.
    p How much time has Shifty Spritz saved you?
    a.btn.warning(href="http://andrewmilson.github.io/shifty-spritz/#donate", target="_blank", style="width: 100%;") DONATE
    hr
    h4 Instructions
    span.btn.dark.key shift
    = " - hold down on selected text to start reading"
    br
    span.btn.dark.key esc
    = " - press to close the reader"
    br
    span.btn.dark.key space
    = " - press to play and pause"
    hr
    h4 Settings
    form
      .form-group
        label Words per minute (wpm)
        select#wpm-select(name="wpm")
          option(value="50") 50 (that is a poor effort)
          option(value="100") 100 (don&#39;t worry you will get faster)
          option(value="150") 150 (nothing special)
          option(value="200") 200 (average speed for reading normaly)
          option(value="1") 250 (das. My boi!)
          option(value="300") 300 (nice! 5 words per second)
          option(value="350") 350
          option(value="400") 400
          option(value="450") 450
          option(value="500") 500
          option(value="550") 550
          option(value="600") 600 (damn! thats 10 words per second)
          option(value="650") 650
          option(value="700") 700
          option(value="750") 750
          option(value="800") 800
          option(value="850") 850
          option(value="900") 900 (your a fricken PRO)
          option(value="950") 950 (whew! that is talent)
          option(value="1000") 1000 (respect! excieding those tripple digits)
          option(value="1100") 1100 (Such AMAZE)
          option(value="1200") 1200 (damn! thats 20 words per second)
          option(value="10000") 10000 (!!!SHIT JUST GOT REAL!!!)
          option(value="47893748932984") 47893748932984 (are you human?)
          option(value="999999999999999") 999999999999999 (um. I&#39;m gonna go clean up my pants)
          option(value="89230547547814031578623874506715231890985764819874678175698765170") 89230547547814031578623874506715231890985764819874678175698765170 (no comment)
      .form-group
        label Reader size
        select#size-select(name="size")
          option(value="20") small
          option(value="25") medium
          option(value="30") large
          option(value="40") EXTRA LARGE
      .form-group
        label Center letter color
        select#color-select(name="color")
          option(value="#fa3d3d") red
          option(value="#2990FC") blue
          option(value="#1f6d0e") green
          option(value="#903dfa") purple
          option(value="#faaf3d") orange
          option(value="#fadf3d") yellow
          option(value="#fa3dcc") pink
